
{% extends 'music/base.html' %}


{% block body %}
    <div class="row">
        <ul>
            {% for album in object_list  %}
                <li><a href="{% url 'music:detail' album.id %}">{{ album.album_title }}</a></li>
            {% endfor %}
        </ul>
    <!-- Delete -->
    <form action="{% url 'music:album-delete ' %}">method='post' style="display :inline;"
        {% csrf_token %}
        <input type="hidden" name="album_id" value="{{ album.id }}">
        <button type="submit" class="btn btn-default btn-sm">
            <span class="glyphicon glyphicon-trash"></span>
        </button>
    </form>

        <!--Favourite-->
        <a href="#" class="btn btn-default btn-sm btn-favourite">
            <span class="glyphicon glyphicon-star" {% if album.is %}
        </a>

    </div>


{% endblock %}